body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom right, #6E45E1, #89D4CF);
}

label {
    font-weight: bold;
}

#name1, #name2 {
    width: 90%;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}

#name1:focus, #name2:focus {
    outline: none;
}

.radio {
    background-color: black;
}

.radio:checked:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    top: 0.5px;
    left: 0.5px;
    position: relative;
    background-color: #6E45E1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#player-turn-msg {
    font-size: 2rem;
    margin: 1rem, 0, 0, 0;
    padding: 0;
}

#game-area {
    background: transparent;
    margin-top: 0;
    width: 50%;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#player-input-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#player1-input-wrapper, #player2-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.radio-area {
    margin-top: 1rem;
}

#start-btn, #play-again-btn {
    margin-top: 1rem;
    padding: 1em;
    color: white;
    background: linear-gradient(to bottom right, #6E45E1, #89D4CF);
    border: 1px solid white;
}

#play-again-btn {
    margin: 0;
}

#game-board-wrapper {
    width: 80vw;
    max-width: 400px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#game-board {
    margin-top: 0.5rem;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sq {
    border: 1px solid white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#s1, #s4, #s7 {
    border-left: none;
}

#s3, #s6, #s9 {
    border-right: none;
}

#s1, #s3, #s2 {
    border-top: none;
}

#s7, #s8, #s9 {
    border-bottom: none;
}

.no-display {
    display: none !important;
}

.no-click {
    pointer-events: none;
}

.cat-pic {
    width: 10rem;
    height: 8rem;
    display: block;
    margin: 1rem auto;
}

