body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#name1, #name3 {
    width: 90%;
}

#game-area {
    margin-top: 0.5rem;
    width: 60%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-input-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#player1-input-wrapper, #player2-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.radio-area {
    margin-top: 1rem;
}

#start-btn {
    margin-top: 1rem;
}

#game-board-wrapper {
    width: 80vw;
    max-width: 400px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#game-board {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sq {
    border: 1px solid black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s1, #s4, #s7 {
    border-left: none;
}

#s3, #s6, #s9 {
    border-right: none;
}

#s1, #s3, #s2 {
    border-top: none;
}

#s7, #s8, #s9 {
    border-bottom: none;
}

.no-display {
    display: none !important;
}

.red {
    background-color: red;
}